.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
 
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    // min-height: 93rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex: 1;
    justify-content: space-between;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
  }
}

.chat-view {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
  //TEST
  // height: 65rem;

  flex: 1;
}

.detail {
  display: flex;
  flex-direction: column;
  // min-height: 64vh;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);


  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: .5rem;
    justify-content: stretch;
  }
}

.description {
  font-size: 1.4rem;
  background: #fff;
  box-shadow: var(--shadow-light);
  max-height: 30rem;
  overflow-y: scroll;
  padding: 3rem;
  margin-bottom: 4.5rem;


  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }


  @media only screen and (max-width: $bp-small) {
    max-height: 42rem;
    justify-content: space-between;
    max-height: auto;
    flex-grow: 1;
  }

}

.user-reviews {
  flex-grow: 0;
}